


.navbar {
    
    background-color: #204478;
}

.nav-link{
    color: #afc5bb;
    font-size: 20px;

}

.form-control {
   
    padding: 6px 36px;
    margin: 0px 0px 2px 0;
    
}

.btn {text-align: left;}
.dropdown-menu{
    background-color: #5ba1b9;
    font-size: 15px;
  
}
/*carousel image customization*/
.carousel-img {
    height: 500px;
    width: 100%;
}
#carousel-header {
    font-size: 63px;
    font-weight: 800;
    color: #ffffffe0;
    font-family: cursive;
    margin-top: -99px;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}
#carousel-para {
    font-size: 21px;
    color: #dbdae7;
}

.carousel-caption {
    position: absolute;
    right: 63%;
    top: 7.25rem;
    left: 17%;
    padding-top: 5.25re;
    padding-bottom: 1.25re;
    text-align: center;
}


/*image customization*/
.cimag{
    height: 600px;
    width: 400px
}



/*card button customization using inspect */
.btn {
    --bs-btn-padding-x: 3.75rem;
    --bs-btn-padding-y: 0.375rem;}

.margin-bottom{
    margin-bottom: 30px;
}

.cimg {
    height: 144px;
    width: 318px;
}
.tmimg {
    height: 200px;
    width: 500px;
}

.upper-footer{
    background-color: #204478;
    padding: 2px;
}
.mb-4{color: #589aac;}

#bgimg1{
    height: 400px;
    width: 318px;
}

.readmore-text{
    color: #518c4a;
}

/*flight page start */
.form-check {
    font-size: large;
    text-align: left;
}
.dept-arv-group {
    padding-right: 74%;
    padding-bottom: 26px;
    padding-top: 26px;
    text-align: justify;
}

#Departure-Date {
    padding-left: 51px;
    padding-bottom: 15px;
}

#Arrival-Date {
    padding-left: 51px;
    padding-bottom: 15px;
}
.airport-img{
    width: 500px;
}
.air-banner-text{
    text-align: end;
}
/*flight page end */

/*profile page start */
.profile-img{
    height: 280px;
    width: 100%;
}
/*portfolio page*/
#port-img{
    height: 200px;
    width: 200px;

}